* {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    font: inherit
}

button {
    border: 1px solid gray;
    background: whitesmoke;
    margin-right: 5px;
}

button:nth-last-child(1), button:nth-last-child(2) {
    background: tomato;
    color: white;
}
